<div class="form-container">
  <form (ngSubmit)="loadPmsmpList(userForm.value)" #userForm="ngForm">
    <label for="adress">Adresse postale</label>
    <input
      type="text"
      class="form-control form-control-lg"
      id="adress"
      placeholder="ex: 10 Rue de Flandre, 75001"
      name="adress"
      required
      ngModel
    />
    <label for="job">Métier souhaité</label>
    <input
      type="text"
      class="form-control form-control-lg"
      id="job"
      placeholder="Restaurateur d'art"
      name="job"
      ngModel
    />
    <label for="range">Distance maximale</label>
    <input
      type="text"
      class="form-control form-control-lg"
      id="range"
      placeholder="ex: 3km"
      name="range"
      ngModel
    />
    <button type="submit" class="btn btn-primary">Rechercher</button>
  </form>
</div>
